#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------------------
            // |    TAB    |     A     |     S     |     D    |
            // | LEFT SHIFT|     Z     |     X     |     C    |
            // | LEFT CTRL | LEFT ALT  |   SPACE   |
            bindings = <
                &kp TAB     &kp A       &kp S      &kp D
                &kp LSHFT   &kp Z       &kp X      &kp C
                &kp LCTRL   &kp LALT    &kp SPACE
            >;
        };
    };
 };