if SHIELD_PALETTE_58_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Palette 58"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PALETTE_58_LEFT || SHIELD_PALETTE_58_RIGHT

config ZMK_SPLIT
    default y

endif